html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
#app {
  width: 100%;
  height: 100%;
}

.code-area {
  flex: 0 0 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.display-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;  
}

.js-editor {
  position: relative;
  border: 1px dashed grey;
  flex: 0 0 50%;
}
.html-editor {
  position: relative;
  border: 1px dashed grey;  
  flex: 0 0 50%;
}

.render-indicator {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.render-indicator .square {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: red;
}

.square.rotate {
  animation: rotate 1s linear 0s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.runtime-panel {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.title {
  text-align: center;
}

.content {
  flex-grow: 1;
  overflow: auto;
}

.content.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.callstack {
  flex: 0 0 50%;
  flex-direction: column;
  position: relative;
}
.browser-panel {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
}

.callback-queue {
  flex: 0 0 30%;
}

.console-output {
  flex: 0 0 30%;
}
.console-output .line {
  margin: 5px 10px;
}
.output-arrow {
  color: #4c8adc;
}

.browser-api {
  flex-grow: 1;
}

.visiual-container {
  display: flex;
  flex-direction: column;
  border: 1px dashed grey;
  padding: 10px;
}

.control {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.statement {
  text-align: center;
  font-size: 20px;
  border: 1px solid grey;
  padding: 3px 0;
  margin-top: 5px; 
}

.looper {
  position: absolute;
  left: 0;
  bottom: -30px;
  display: inline-block;
  width: 100%;
  text-align: center;
}
.looper img {
  width: 50px;
  height: 50px;
  /* transform: rotateY(180deg); */
}
.looper img.running {
  animation: looper-rotate .5s linear 0s;
}

@keyframes looper-rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}